body {
    background-color: burlywood;
    margin: 0 auto;
    text-align: center;
}

button {
    width: 15rem;
    height: 6rem;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}